/*钟摆**/
.pcircle{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    border: 0.1em solid pink;
    display: inline-block;
    animation: rotate 2s infinite;
}
.pcircle::before{
    content: '';
    border-radius: 1em;
    margin-top: -0.1em;
    margin-left: -0.1em;
    border: 0.1em solid orange;
    display: inline-block;
    width: 1px;
    height: 80px;
    border-radius: 1px;
    box-shadow: none;
    position: absolute;
    top: 2em;
}
@keyframes rotate{
    0%{
        transform:rotate(45deg);
    }
    50%{
        transform:rotate(-45deg);
    }
    100%{
        transform:rotate(45deg);
    }
}
